
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39.3rem;
}.mobile-ui-SUh {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-7em7-BBP {
    width: 39.4rem;
    height: 187.6rem;
    position: relative;
    flex-shrink: 0;

    .home-page-banner-iSD {
      flex-direction: column;
      background-color: #1a1a1d;
      width: 39.3rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 4.3rem 2.9rem 1.5rem 2.3rem;
      height: 50.7rem;

      .auto-group-562d-c1o {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 5.8rem;
        width: 100%;
        height: 8.2rem;
        display: flex;

        .auto-group-vzth-jcD {
          height: 100%;
          color: #ffffff;
          align-items: center;
          flex-shrink: 0;
          background-position: center;
          background-image: url('REPLACE_IMAGE:32:231');
          font-weight: 400;
          white-space: nowrap;
          justify-content: center;
          background-size: cover;
          background-repeat: no-repeat;
          margin-right: 1.7rem;
          width: 8.5rem;
          font-size: 2.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
        }
        .auto-group-dmjf-D1b {
          margin: 2rem 0;
          padding: 1.1rem 1.2rem;
          display: flex;
          box-sizing: border-box;
          height: calc(100% - 4rem);
          align-items: center;
          border: solid 0.2rem #c3073f;
          background-color: #1a1a1d;
          flex-shrink: 0;

          .about-us-8PT {
            margin-right: 2.1rem;
            cursor: pointer;
            font-size: 1.6rem;
            color: #ffffff;
            font-family: Bebas Neue, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.2;
            flex-shrink: 0;
          }
          .our-services-e6u {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.8rem;
            cursor: pointer;
            line-height: 1.2;
            color: #ffffff;
            font-family: Bebas Neue, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
          .our-clients-Zjf {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2;
            color: #ffffff;
            font-family: Bebas Neue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
          }
        }
      }
      .k-factor-Ge5 {
        color: #c3073f;
        flex-shrink: 0;
        margin: 0rem 0rem 1.4rem 0.7rem;
        font-size: 4.5rem;
        line-height: 1.25;
        font-family: Krona One, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
      }
      .auto-group-a36h-a8y {
        margin: 0rem 1.05rem 2.7rem 1.75rem;
        width: calc(100% - 2.8rem);
        height: 15.5rem;
        position: relative;
        flex-shrink: 0;

        .unlock-your-digital-potential-67K {
          left: 4.65rem;
          font-size: 2.4rem;
          font-weight: 400;
          top: 0;
          text-align: center;
          line-height: 1.3625;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          width: 21.9rem;
          height: 9.9rem;
          position: absolute;
        }
        .accelerating-your-online-growth-and-maximizing-your-digital-success-with-tailored-strategies-expertise-and-a-passion-for-delivering-exceptional-results-zTb {
          top: 7.4rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2575;
          height: 8.1rem;
          position: absolute;
          left: 0;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          width: 31.3rem;
          color: #ffffff;
        }
      }
      .component-4-2QH {
        line-height: 1.2;
        font-family: Bebas Neue, 'Source Sans Pro';
        margin: 0rem 9.2rem 0rem 9.9rem;
        box-sizing: border-box;
        width: calc(100% - 19.1rem);
        cursor: pointer;
        font-weight: 400;
        flex-shrink: 0;
        padding: 1.3rem 1.9rem 0.4rem 1.5rem;
        font-size: 3.2rem;
        color: #ffffff;
        white-space: nowrap;
        background-color: #c3073f;
      }
    }
    .about-us--sQu {
      width: 39.4rem;
      height: 60.3rem;
      position: absolute;
      left: 0;
      top: 50.5rem;

      .rectangle-4-c7b {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1a1a1d;
        width: 39.4rem;
        height: 58.6rem;
      }
      .data-analysis-9NR {
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.2rem;
        height: 24.6rem;
        position: absolute;
        left: 6rem;
      }
      .welcome-to-k-factor-marketing-agency-we-are-a-passionate-team-of-experts-dedicated-to-driving-your-businesss-digital-success-with-our-strategic-approach-expertise-in-the-latest-trends-and-data-driven-insights-we-deliver-customized-solutions-tailored-to-your-unique-needs-partner-with-us-to-unlock-your-brands-full-potential-today-spD {
        width: 30.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.2575;
        font-family: Open Sans Condensed, 'Source Sans Pro';
        height: 20.2rem;
        position: absolute;
        left: 4.4rem;
        top: 40.1rem;
        text-align: center;
        color: #ffffff;
      }
      .about-us-36R {
        white-space: nowrap;
        width: 10.3rem;
        left: 14.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3625;
        color: #c3073f;
        font-family: Open Sans, 'Source Sans Pro';
        height: 3.3rem;
        position: absolute;
        top: 34.6rem;
      }
    }
    .our-services-wxV {
      width: 39.4rem;
      top: 109.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.9rem 6.3rem 5.4rem 6.2rem;
      height: 78.5rem;
      position: absolute;
      left: 0;
      background-color: #1a1a1d;

      .our-services-qY5 {
        color: #c3073f;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5.9rem 0.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3625;
      }
      .auto-group-dppm-A4Z {
        margin: 0rem 0.8rem 2rem 0.4rem;
        width: calc(100% - 1.2rem);
        height: 22.1rem;
        flex-shrink: 0;

        .young-woman-promoting-post-on-social-media-sjf {
          width: 23.7rem;
          height: 21.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .influencer-marketing-cSM {
        font-family: Open Sans Condensed, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 3.9rem 3.1rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2575;
        color: #ffffff;
      }
      .auto-group-hkq1-vxq {
        margin-bottom: 2rem;
        width: 100%;
        flex-shrink: 0;

        .young-man-drawing-a-curve-in-design-program-tem {
          width: 26.9rem;
          height: 22.8rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .graphic-designing-bp5 {
        flex-shrink: 0;
        margin-left: 2.9rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Open Sans Condensed, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-ttpd-v5f {
    height: 132.7rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .our-clients-4hf {
      position: absolute;
      top: 0;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1.5rem 2.9rem 11.5rem 2.4rem;
      width: 39.3rem;
      height: 58.3rem;
      left: 0;
      display: flex;
      background-color: #1a1a1d;

      .our-clients-Mwf {
        color: #c3073f;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 2.1rem 0.5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.3625;
      }
      .mask-group-sv1 {
        margin: 0rem 0rem 1.9rem 0.5rem;
        width: 13.1rem;
        height: 13.1rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .i-am-extremely-impressed-with-k-factors-digital-marketing-services-their-tailored-strategies-have-significantly-boosted-our-online-presence-and-increased-our-conversions-the-teams-expertise-and-dedication-to-delivering-exceptional-results-have-made-them-an-invaluable-partner-for-our-channel-apR {
        font-weight: 300;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Open Sans Condensed, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        max-width: 34rem;
        font-size: 1.6rem;
      }
      .auto-group-8mub-CL1 {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 0.2rem 0rem 11.8rem;
        width: calc(100% - 12rem);
        display: flex;

        .auto-group-rk5j-iJM {
          flex-shrink: 0;
          margin-right: 1.1rem;
          box-sizing: border-box;
          padding-top: 8.9rem;
          width: 11.1rem;
          height: 11.1rem;
          border-top: solid 0.1rem #c3073f;

          .slide-image-3bX {
            width: 11rem;
            height: 100%;
            display: flex;
            align-items: center;

            .ellipse-2-zFs {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7746rem;
              width: 2.169rem;
              height: 2.2rem;
              object-fit: contain;
            }
            .ellipse-3-Kow {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7747rem;
              width: 2.169rem;
              height: 2.2rem;
              object-fit: contain;
            }
            .ellipse-4-4Wd {
              height: 2.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.7746rem;
              width: 2.169rem;
            }
            .ellipse-5-zQH {
              width: 2.169rem;
              height: 2.2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .apsar-jain-youtube-channel-professor-playz-7jo {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2102272511;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          max-width: 9.8rem;

          .apsar-jain-youtube-channel-professor-playz-7jo-sub-0 {
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3625;
          }
          .apsar-jain-youtube-channel-professor-playz-7jo-sub-1 {
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Open Sans Condensed, 'Source Sans Pro';
          }
        }
      }
    }
    .footer-Fsw {
      top: 53.3rem;
      width: 39.3rem;
      height: 79.4rem;
      position: absolute;
      left: 0;

      .auto-group-fwfx-zKj {
        height: 77.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #1a1a1d;
        box-sizing: border-box;
        padding: 3.9rem 3.3rem 11.7rem 3.3rem;
        width: 39.3rem;

        .unlock-your-digital-potential-with-k-factor-marketing-5ry {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          margin-bottom: 13.4rem;
          width: 100%;
          line-height: 1.3625;
          font-weight: 400;
          max-width: 32.3rem;
          text-align: center;
          font-size: 2rem;
        }
        .social-media-AtR {
          margin: 0rem 5.3rem 2.216rem 5.3rem;
          width: calc(100% - 10.6rem);
          height: 4.7838rem;
          display: flex;
          align-items: center;

          .instagram-h7f {
            box-sizing: border-box;
            padding: 0.472rem 0.539rem 0.539rem 0.472rem;
            height: 100%;
            background-color: #c3073f;
            border-radius: 2.3919rem;
            flex-shrink: 0;
            margin-right: 3.8406rem;

            .instagram-Dbo {
              object-fit: contain;
              vertical-align: top;
              width: 3.7732rem;
              height: 3.7732rem;
            }
          }
          .gmail-LgR {
            padding: 0.472rem 0.472rem 0.539rem 0.539rem;
            height: 100%;
            background-color: #c3073f;
            border-radius: 2.3919rem;
            flex-shrink: 0;
            margin-right: 3.9079rem;
            box-sizing: border-box;

            .gmail-logo-fih {
              height: 3.7732rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.7732rem;
            }
          }
          .linkedin-11s {
            height: 100%;
            background-color: #c3073f;
            border-radius: 2.3919rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.472rem 0.472rem 0.539rem 0.539rem;

            .linkedin-wgD {
              width: 3.7732rem;
              height: 3.7732rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .line-4-5Gd {
          height: 0;
          object-fit: contain;
          vertical-align: top;
          margin-bottom: 6.2rem;
          width: 32.7rem;
        }
        .email-examplegmailcom-R5b {
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.2rem;
        }
        .auto-group-m2gy-uWZ {
          margin-bottom: 2.1rem;
          width: 14.6rem;
          height: 9.7rem;
          position: relative;

          .home-36y {
            width: 4rem;
            cursor: pointer;
            left: 0;
            font-size: 1.6rem;
            font-weight: 300;
            white-space: nowrap;
            height: 2.1rem;
            position: absolute;
            top: 7.6rem;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Open Sans Condensed, 'Source Sans Pro';
          }
          .sakthi-sai-ram-st-porur-chennai-tamil-nadu-600116-L65 {
            width: 14.6rem;
            height: 8.1rem;
            top: 0;
            font-weight: 300;
            color: #ffffff;
            font-family: Open Sans Condensed, 'Source Sans Pro';
            position: absolute;
            left: 0;
            font-size: 1.6rem;
            line-height: 1.2575;
          }
        }
        .about-us-pX3 {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 300;
        }
        .our-services-kQh {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 300;
        }
        .our-clients-gp9 {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 300;
        }
        .contact-us-RFw {
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Open Sans Condensed, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .component-5-MQV {
        font-weight: 400;
        white-space: nowrap;
        width: 15rem;
        cursor: pointer;
        left: 12.2rem;
        top: 13.1rem;
        line-height: 1.2;
        font-family: Bebas Neue, 'Source Sans Pro';
        background-color: #c3073f;
        box-sizing: border-box;
        height: 5.2rem;
        position: absolute;
        padding: 1rem 2.4rem 0.3rem 2.1rem;
        font-size: 3.2rem;
        color: #ffffff;
      }
      .copyrights-DSh {
        box-sizing: border-box;
        padding: 0.3rem 8.6rem 0.3rem 10.7rem;
        width: 39.3rem;
        height: 1.9rem;
        position: absolute;
        top: 77.5rem;
        background-color: #4e4e50;
        left: 0;
        display: flex;
        align-items: center;

        .copyright-uqK {
          height: 1.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.1rem 0rem;
          width: 1.2rem;
        }
        .k-factor-marketing-2023-2uw {
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.25;
          color: #000000;
          font-family: Krona One, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
}
